[Unit]
Description=Bashpack update (itself & update command)

[Service]
ExecStartPre=bashpack --self-update
ExecStart=bashpack update -y
KillMode=control-group
TimeoutStartSec=1800
TimeoutStopSec=1800